#player {
  position: fixed;
  align-items: center;
  top: 170px;
  width: 70px;
  height: 70px;
  z-index: 9;
  transition: all 1s ease;
}
.npc {
  position: absolute;
  width: 84px;
  height: 116px;
}
#npc1 {
  top: 420%;
  right: 30%;
}
#npc2 {
  top: 620%;
  left: 25%;
  transform: scaleX(-1);
}
#npc3 {
  top: 840%;
  right: 25%;
}
#npc4 {
  top: 1000%;
  right: 25%;
}
#npc5 {
  top: 1280%;
  right: 25%;
}
#npc6 {
  top: 1490%;
  left: 25%;
  transform: scaleX(-1);
}