body {
  margin:0;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url("../img/bg-campus.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

#bg {
  height: 1700%;
  width: 100vw;
}
