.talk {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.talk__wrap {
  width: 70%;
}
.talk__overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.talk__wrap {
  z-index: 99999;
}
.talk__content {
  background-color: white;
  padding: 40px 100px;
  text-align: center;
  position: relative;
  border-radius: 10px;
  width: 70%;
  bottom: -220px;
  margin: auto;
}
.talk__char {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.talk__char > h3 {
  background-color: hotpink;
  color: white;
  padding: 10px;
}
.hidden{
  display: none;
}
.catHidden{
  display: none;
}
.playerHidden{
  display: none;
}